[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_req

[dn]
CN = *.{{ metallb_addresses[0].split('-')[0] }}.nip.io

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.{{ metallb_addresses[0].split('-')[0] }}.nip.io
DNS.2 = {{ metallb_addresses[0].split('-')[0] }}.nip.io
